<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/base.css" />
    <title>Pet Adoption</title>
  </head>

  <body>
    <main class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-10">
          <h2><a href="/">Be cool, adopt a pet!</a></h2>
        </div>
        <div class="card col-10">
          <p>{{user}}</p>
          {% for msg in get_flashed_messages() %}
          <div class="alert-danger alert">{{ msg }}</div>
          {% endfor %}

          <div class="col">{% block content %} {% endblock %}</div>
        </div>
      </div>
    </main>
  </body>
</html>
