{% extends 'base.html' %}

{% block content %}
<div class="">
    <h2>
        {{pet.name}}
    </h2>
    <img src="{{pet.photo_url}}">
    <p>Age: {{pet.age}} </p>
    <p>Species: {{pet.species}} </p>
</div>

<form action="/{{pet.id}}" id="edit_pet_form" name="edit_pet_form" method="POST">
  {{ form.hidden_tag() }}

 {% for field in form
    if field.widget.input_type != 'hidden' %}

    <div>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </div>



    {% endfor %}

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}
